<!DOCTYPE html>
<html>
    <head>     
        <style>
        </style>
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body> 
        <h1>Cities</h1>
        <br />
        <div class="filters">
            <form action="/" method="post">
                <div class="mb-1 ms-1">
                    <label for="Country">Country </label>
                    <input type="text" list="Country" name="Country" id="country_input" autocomplete="off">
                    <datalist id="Country">
                        <% for( let index = 0; index < countries.length; index++ ) { %>
                            <option><%= countries[index].country %> </option>
                            <% } %> 
                        </datalist>

                    <label for="City">City </label>
                    <input type="text" list="City" name="City" id="city_input" autocomplete="off">
                    <datalist id="City">
                        <% for( let index = 0; index < cities.length; index++ ) { %>
                            <option><%= cities[index].city %> </option>
                            <% } %> 
                        </datalist>
                </div>
            
                <div class="mb-1 ms-1">
                    <label for="from">Population from: </label>
                    <input type="number" name="from" id="from_input" autocomplete="off" min=0 step=10000>
                    <label for="from"> to: </label>
                    <input type="number" name="to" id="to_input" autocomplete="off" min=0 step=10000>
                </div>
                <div>
                    <button class="btn btn-primary ms-1" id="submitBtn">Apply Filters</button>
                </div>
            </form>
        </div>
        <br />
        <div>
            <h2>Results count: <%= count %> </h2>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">City</th>
                    <th scope="col">Country</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">longitude</th>
                    <th scope="col">Population</th>
                  </tr>
                </thead>
                <tbody>
                    <% for( let index = 0; index < points.length; index++ ) { %>
                        <tr>
                            <th scope="row"><%= points[index].id %> </th>
                            <td><%= points[index].city %></td>
                            <td><%= points[index].country %></td>
                            <td><%= points[index].latitude %></td>
                            <td><%= points[index].longtitude %></td>
                            <td><%= points[index].population %></td>
                          </tr>   
                    <% } %>               
                </tbody>
              </table>
        </div>
    </body>
    <script>

        window.addEventListener("load", (e) => {

            const cityDataList = document.getElementById("City"); 

            let countryValue = "";
            const countryInput = document.getElementById("country_input")
            countryInput.addEventListener("input", async (e) => {
                console.log(countryInput.value)
                countryValue = countryInput.value;

                if(countryValue.length > 2){
                    const res = await fetch(`http://localhost:3000/cities/${countryValue}`);
                    const fetchedCities = await res.json();
                    removeAllChildNodes(cityDataList);
                    
                    fetchedCities.forEach(c => {
                        const elm = document.createElement("option")
                        elm.value = c.city;
                        cityDataList.appendChild(elm);
                    })
                } // ZC11318-LQXK-B62N 

            })  

            // const submitBtn = document.getElementById("submitBtn")
            // submitBtn.addEventListener("click", (e) => {
            //     alert(countryInput.value)
            // })  

            let cityValue = "";
            const cityInput = document.getElementById("city_input")
            cityInput.addEventListener("input", async (e) => {
                console.log(cityInput.value)
                cityValue = cityInput.value;
                if(countryValue){
                   
                }
            }) 

            function removeAllChildNodes(parent) {
                while (parent.firstChild) {
                    parent.removeChild(parent.firstChild);
                }
            }

        })
    </script>
</html>